<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-6">
    <app-dona title="Ventas"
              [data]="dataVentas">

    </app-dona>
  </div>

  <div class="col-6">
    <app-dona title="Compras"
             [data]="dataCompras">
    </app-dona>
  </div>

</div>

<div class="row">
  <div class="col-6">
    <app-dona title="Asignaciones  Presupuestarias"
              [data]="dataAsign">
    </app-dona>
  </div>

  <div class="col-6">
    <app-dona></app-dona>
  </div>

</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
